<div>
    <mat-tab-group (selectedIndexChange)="tabControl.setValue($event)" [selectedIndex]="tabControl.value">
        <mat-tab label="Certificate Lookup">
            <div class="content">
                <form [formGroup]="fCertificateLookup" (ngSubmit)="fCertificateLookupSubmit()">
                    <mat-form-field appearance="outline" class="form form-name" >
                        <mat-label>Enter fullname to search</mat-label>
                        <input matInput formControlName="fullname" placeholder="Fullname">
                        <mat-icon matSuffix>badge</mat-icon>
                    </mat-form-field>
                    <button mat-raised-button color="primary" class="form" type="submit">Search</button>
                    <mat-progress-bar [mode]="fCertificateLookup.value.loading ? 'indeterminate' : 'determinate'" class="progress"></mat-progress-bar>
                </form>
                <div>
                    <table mat-table [dataSource]="lookupResults" class="mat-elevation-z8">
                        <ng-container matColumnDef="ID">
                            <th mat-header-cell *matHeaderCellDef> ID </th>
                            <td mat-cell *matCellDef="let element"> <code>{{element.id}}</code> </td>
                        </ng-container>

                        <ng-container matColumnDef="Fullname">
                            <th mat-header-cell *matHeaderCellDef> Fullname </th>
                            <td mat-cell *matCellDef="let element"> {{element.fullname}} </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="Email">
                            <th mat-header-cell *matHeaderCellDef> Email </th>
                            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="Course">
                            <th mat-header-cell *matHeaderCellDef> Course </th>
                            <td mat-cell *matCellDef="let element"> {{element.course}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Status">
                            <th mat-header-cell *matHeaderCellDef> Status </th>
                            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="Deactivated">
                            <th mat-header-cell *matHeaderCellDef> Deactivation Reason </th>
                            <td mat-cell *matCellDef="let element"> {{element.deactivated}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Created">
                            <th mat-header-cell *matHeaderCellDef> Created </th>
                            <td mat-cell *matCellDef="let element"> {{element.created}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Actions">
                            <th mat-header-cell *matHeaderCellDef> Actions </th>
                            <td mat-cell *matCellDef="let element">
                                <button mat-flat-button color="primary" (click)="certificateLookupSelect(element)" [disabled]="selectedCertificate?.id == element.id"> Select </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="lookupColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: lookupColumns;" [ngClass]="{selected: selectedCertificate?.id == row.id}"></tr>
                      </table>                      
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Certificate Editor">
            <div class="content cert-editor">
                <img src="../../assets/cert.png" class="cert-preview">
                @if (selectedCertificate) {
                    <div class="cert-editor-details">
                        <h1>Editing Certificate <code>{{selectedCertificate.id}}</code></h1>
                        <ul>
                          <li>
                            Owner: <code>{{ selectedCertificate.fullname }}</code>
                          </li>
                          <li>
                            Course: <code>{{ selectedCertificate.course }}</code>
                          </li>
                          <li>
                            Created: <code>{{ selectedCertificate.created }}</code>
                          </li>
                          <li>
                            Status:
                            <code
                              >{{ selectedCertificate.status }}</code
                            >
                          </li>
                          <li>Deactivation: <code>{{ selectedCertificate.deactivated }}</code></li>
                        </ul>
                        <br>
                        <mat-divider></mat-divider>
                        <br>
                        <form [formGroup]="fCertificateEditor">
                            <mat-form-field appearance="outline" class="form form-name" >
                                <mat-label>Deactivation Reason</mat-label>
                                <input matInput formControlName="deactivationReason" placeholder="N/A" [defaultValue]="selectedCertificate.deactivated">
                            </mat-form-field> 
                            <button mat-flat-button color="warn" (click)="certificateEditorRevoke()">Revoke</button>
                            <button mat-flat-button color="accent" (click)="certificateEditorReinstate()">Reinstate</button>
                        </form>
                        <mat-progress-bar [mode]="fCertificateEditor.value.loading ? 'indeterminate' : 'determinate'"></mat-progress-bar>
                    </div>
                } @else {
                    <div class="cert-editor-details warn">
                        <h1>No Certificate Selected</h1>
                    </div>
                }
            </div>
        </mat-tab>
        <mat-tab label="Certificate Generator"></mat-tab>
    </mat-tab-group>
</div>