span {
  font-size: small;
  font-style: normal;

  &:hover {
    font-style: italic;
  }
}

code {
  &:hover {
    font-weight: bolder;
    text-decoration: underline;
  }
}

.actions {
  flex: 1 1 auto;
}

.action {
  $spacing: 0.5rem;
  margin: 0rem $spacing 0rem $spacing;
}

.container {
  display: flex;
  justify-content: center;

  .card {
    width: 50%;
    padding: 2rem 2rem 2rem 2rem;
  }
}

.welcome {
  text-decoration: underline;
}

.content {
  margin: 1rem 0rem 1rem 0rem;
}

.loading {
  display: flex;
  justify-content: center;
}

.cert {
  color: red;
}

.cert-active {
  color: green;
}
